
html {
	background-color:#001230;
	overflow-y: auto;
}

body {
	position: absolute;
	width:100%;
	height:100%;
}

.search {
	position: absolute;
	width: 100%;
	font-size: 60px;
	transition: top ease 1s 1s;
	opacity: 0;
	z-index: 100;
}

.search.top{
	top:0 !important;
}

.search input {
	padding:8px 15px;
	border:0px;
}

.search .search-bar {
	background: rgba(0, 0, 0, 0);
	width: 100%;
	color: #fff;
}

.search .search-button {
	position:relative;
	padding:6px 15px;
	left:-4px;
	border:2px solid #207cca;
	background-color:#207cca;
	color:#fafafa;
}
.search .search-bar:focus{
	outline: -webkit-focus-ring-color auto 0px;
}

.search .search-button:hover  {
	background-color:#fafafa;
	color:#207cca;
}

.search .search-progress {
	height: 4px;
	width: 0;
	position: absolute;
	background-color: #F16A00;
}

.search .search-progress.right {
	right: 0;
}

.content {
	top: 85px;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	overflow: auto;
	opacity:0;
}

.content .resultElement{
	max-width: 185px;
	margin: 5px;
}

.content .resultElement .title {
	position: absolute;
	width: 100%;
	padding: 2px;
	background-color: rgba(0,0,0,0.4);
	color: white;
	text-align: center;
	z-index: 10
}

.content .resultElement {
	transition: all 0.5s;
}

.content .resultElement:hover{
	transform: rotate(0deg) scale(1.08);
}
/*
.content .resultElement .thumb{
	transition: all 0.5s;
}

.content .resultElement:hover .thumb{
	transform: rotate(0deg) scale(1.08);
}
*/
.content .resultElement .nopic{
	
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	color: #bbb;
}